.navbar {
    background-color: #1F2937;
    color: #FFFFFF;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .logo-image {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  
  .logo-text {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.25rem;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-links-list {
    list-style: none;
    display: flex;
  }
  
  .navbar-link-item {
    margin-right: 1rem;
  }
  
  .navbar-link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .navbar-link:hover {
    background-color: #9CA3AF;
  }
  
  .dark-mode-toggle {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .dark-mode-toggle:hover {
    background-color: #9CA3AF;
  }
  
  .dark {
    background-color: #1A202C;
    color: #FFFFFF;
  }
  